
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReZoom | Resume Templates</title>


<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/home.css">

</head>
<body>

  <header>
    <div class="logo">
      <img src="/images/rezoomlogo.png" alt="ReZoom Logo" />
      <h2>ReZoom</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/resume/form">Create Your Resume</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/feedback">Feedback</a></li>
      </ul>
    </nav>
  </header>


 <div class="main">
    <section>
      <h3>About Rezoom</h2>
    <p>
         Rezoom is a web-based resume builder developed as part of a My project.
    </p>

    </section>

     <section>
     <h3>Project Objective</h2>
        <p>
         The objective of this project is to simplify the process of creating professional resumes for students and job seekers using modern web technologies.
        </p>
     </section>
    <section>
      <h3>Key Features</h2>
    <ul>
     <li>Dynamic resume creation with customizable templates</li>
     <li>PDF export functionality without login</li>
     <li>User-friendly and responsive interface</li>
     <li>Built using Node.js, Express, EJS, and HTML2PDF</li>
    </ul>

    </section>

    <section>
      <h3>Technologies Used</h2>
        <ul>
         <li>Frontend: HTML, CSS, EJS, JavaScript</li>
         <li>Backend: Node.js with Express</li>
         <li>PDF Generation: html2canvas + jsPDF</li>
        </ul>
    </section>
    
    <h3>Developed By</h2>
    <p>
     <strong>Divyanshu Kannaujiya</strong><br>
    B.Tech-NIT Allahabad<br>
     Reg. No: 20247021<br>
    </p>

</div>

<footer id="footer">
    <p>© 2025 ReZoom • Made By Divyanshu Kannaujiya 
    <span ><a href="https://divyanshu912.me"  style="
      display: inline-block;
    text-decoration: none;
    color: #0284C7;">Click -> Portfolio</a></span></p>
  </footer>

</body>
</html>

