.main {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 30px;
}

h3 {
  color: #212529;
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 4px;
}

p, li {
  font-size: .9rem;
  color: #444;
}

ul {
  margin-left: 20px;
}

footer {
  background-color: #152F42;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 0.95rem;
  margin-top: 50px;
}